openai
chainlit
mcp[cli]
pillow==11.0.0
mistralai~=0.4.2
autogen-agentchat
chromadb ~= 0.6.3
ipykernel~=6.29.5
autogen-ext==0.4.5
autogen-ext[azure]
autogen-core~=0.4.5
python-dotenv~=1.0.1
semantic-kernel[mcp]
semantic-kernel[azure]
semantic-kernel>=1.29.0
azure-ai-inference~=1.0.0b9
azure-ai-projects==1.0.0b11
azure-search-documents>=11.5.2
